includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 9
    phpVersion: 80002
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    excludePaths:
        analyseAndScan:
            - vendor
    fileExtensions:
        - 'php'
